{% extends "web/base.html.jinja" %}
{% block content %}
<div class="splasher-container">
    <div class="title-container">
    {# <div class="logo">
        <img src="{{ url_for('static', filename='logo.png') }}" />
    </div> #}
        <div class="logo">
            BattleDex
        </div>
    </div>
    <div class="one-sentence-container">
        <p> Stop using your hand...</p> 
        <p> Automatically generate command rosters </p>
    </div>
    <div class="features-container">
        <div class="splash-card"> 
        <p>Get Started</p>
        <a href="/" class="see-all"> FULL EDITOR </a>
        </div> 
        <div class="splash-card"> 
            <p>Community Rosters</p>
            <a href="/" class="see-all"> SEE ALL </a>
            <div class="community-roster-scroll-container">
                {% for roster in rosters %}
                    <div class="community-roster-entry">
                        <a href="/roster/{{roster.id}}"> {{ roster.name }}</a>
                    </div>
                {% endfor %}
            </div>    
        </div> 
    </div>
    <div class="start-prompt-container">
        
    </div>
</div>
<div class="container">
    {# <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Roster</h1>
        </div>
    </div> #}
    <div id="roster-grid"></div>
    <div id="entry-grid"></div>
</div>
{# <div class="splasher-container"></div> #}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='thirdparty/jsgrid/jsgrid.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='thirdparty/jsgrid/jsgrid.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='thirdparty/jsgrid/jsgrid-theme.min.css') }}">
<script src="{{ url_for('static', filename='thirdparty/chosen/chosen.jquery.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='thirdparty/chosen/chosen.min.css') }}">
<script src="{{ url_for('static', filename='roster.js') }}"></script>
<script>
    $(function() {
        initialize_roster_grid("roster-grid");
    });
        

</script>
{% endblock %}