{% macro roster_row(roster_entry) %}
    <tr>
        {# {% for key,value in roster_entry.items() %}
            <td>{{value}}</td>
        {% endfor %} #}
        {% print("SHIT")%}
        <td>{{ roster_entry.id }}</td>
        <td>{{ roster_entry.name }}</td>
        <td> {{ roster_entry.figure.name }} + {{ roster_entry.figure.figure_type }}</td>
        <td>
            {% for w in roster_entry.wargear %}
            {{ w.name }}
            {% endfor %}
        </td>
        {% if roster_entry.specialization %}
        <td>{{ roster_entry.specialization.name }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>{{ roster_entry.points }}</td>
    </tr>
{% endmacro %}

{% macro roster_table_heading() %}
    <tr class="table-heading">
        <th> Id </th>
        <th> Name </th>
        <th> Model Type </th>
        <th> Wargear </th>
        <th> Specialization </th>
        <th> Point </th>
    </tr>
{% endmacro %}

{% macro configure_roster_table(roster_entry) %}
    <table id="roster-table">
        {% for key,value in roster_entry.items() %}
            <th>key</th>
        {% endfor %}
    </table>
{% endmacro %}

{% macro data_card_table_heading_for_model() %}
    <tr class="table-heading">
        <th>Name</th>
        <th>M</th>
        <th>Ws</th>
        <th>Bs</th>
        <th>S</th>
        <th>T</th>
        <th>W</th>
        <th>A</th>
        <th>Ld</th>
        <th>Sv</th>
    </tr>
{% endmacro %}

{% macro data_card_table_heading_for_weapons(column_headings) %}
    <tr class="table-heading">
        <th>Weapon</th>
        <th>Range</th>
        <th>Type</th>
        <th>S</th>
        <th>AP</th>
        <th>Damage</th>
        <th>Abilities</th>
    </tr>
{% endmacro %}

{% macro populate_data_card_model_table(model) %}
    <tr>
        <td>{{model.figure_type}}</td>
        <td>{{model.move}}</td>
        <td>{{model.weapon_skill}}</td>
        <td>{{model.ballistic_skill}}</td>
        <td>{{model.strength}}</td>
        <td>{{model.toughness}}</td>
        <td>{{model.wounds}}</td>
        <td>{{model.attacks}}</td>
        <td>{{model.leadership}}</td>
        <td>{{model.save}}</td>
    </tr>
{% endmacro %}

{% macro populate_data_card_weapon_table(weapon) %}
    <tr >
        <td>{{weapon.name}}</td>
        <td>{{weapon.range}}</td>
        <td>{{weapon.type}}</td>
        <td>{{weapon.strength}}</td>
        <td>{{weapon.ap}}</td>
        <td>{{weapon.damage}}</td>
        {% for ability in weapon.abilities %}
            <td>{{ability.name}} : {{ability.text}}</td>
        {% endfor %}
        
    </tr>
{% endmacro %}

{% macro create_data_card(roster_entry) %}

    <div class="data-card-div">
        <p> {{roster_entry.name}} </p>
        <p class="points-text"> {{ roster_entry.points }} Points </p>
        <table class="data-card-table">
            {{ data_card_table_heading_for_model() }}
            {# {{roster_entry.figure }} #}
            {{ populate_data_card_model_table(roster_entry.figure) }}
        </table>
        <table class="data-card-table">
            {{ data_card_table_heading_for_weapons(roster_entry.keys) }}
            {% for wg in roster_entry.wargear %}
                {{ populate_data_card_weapon_table(wg)}}
            {% endfor %}
        </table>
        {% if roster_entry.abilities %}
            {% for ability in roster_entry.abilities %}
                <p>{{ability.name}} : {{ability.text}}</p>
            {% endfor %}
        {% endif %}
        {% if roster_entry.specialization %}
        <p> Specialization: {{ roster_entry.specialization.name }} : {{ roster_entry.specialization.passive }}</p>
        {% else %}
        <p> Specialization:</p>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_tactic(tactic) %}

   <div class="tactic-cell">
        <div class="tactic-cell-heading-div">
            {{ tactic.name }}
        </div>
        <div class="tactic-cell-text-div">
            {{ tactic.text }}
        </div>
   </div>
{% endmacro %}