@media print { .tactics-cell { page-break-inside: avoid; break-inside: avoid; } }
@media print  
{
    .data-card-div {
      break-before: left;
    }
    div{
        page-break-inside: avoid;
        break-inside: avoid-page;
    }
    .breaker { 
      break-before: always;
      page-break-before: always;
    }
}
@page { size: auto;  margin: 0.5in 0.5in 0.5in 0.5in; }

td {
  text-align: center;
  background-color: beige;
  font-size: 0.5vw;
}
th {
  font-size: 0.5vw;
}
.roster-container {
  margin: 0 auto;
}
.bio-field-container {
  display: inline-block;
  width: 50%;
}

.bio-label {
  display: inline-block;
  background-color: #f8422a;
  width: 33%;
  /* height: 40px; */
  padding-right: 4%;
  text-align: right;
  vertical-align: center;
  font-weight: bold;
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
}

.bio-entry {
  display: inline-block;
  width: 60%;
  /* height: 40px; */
  background-color: gainsboro;
  vertical-align: center;
  font-size: 1em;
}
.roster-table {
  width: 100%;
  margin-top: 5pt;
}

.data-card-abilities {
  background-color: gainsboro;
  padding: 0.5%;
  font-size: 0.5vw;
}

.data-card-specialization {
  font-size: 0.5vw;
}

.data-card-container {
  width: 8.5in;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,3.5in);
  grid-template-rows: auto;

}
.data-card-div {
    border-style: solid;
    padding: 1%;
    position: relative;
    margin: 0.5%;
    font-size: 0.5vw;
}

.data-card-table {
  width: 100%;
  word-break: normal;
}

.data-card-table-container {
  font-size: 1vh;
}

.data-card-weapon-ability-field {
  font-size: 0.5vh;
}

.points-text {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 3%;
}
.table-heading {
    background-color: #f8422a;
    /* font-size: 1vw; */
}

h2.tactic_label {
  float: left;
  width: 100%;
}
.tactic-cell {
  position: relative;
  background-color: gainsboro;
  margin: 0.5%;
  break-after: avoid-page;
  border-style: solid;
}


.tactics-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.tactic-cell-heading-div {
  text-align: center;
  background-color: #f8422a;
  padding: 1%;
  font-weight: bold;
  border-bottom: #5a180f 1px solid;
  font-size: 1.17vw;
}

.tactic-cell-text-div {
  padding: 3%;
  font-size: 1vw;
  margin-bottom: 5%
}

.tactic-cost-div {
  color: black;
  background-color: cornsilk;
  text-align: center;
  font-weight: bold;
  font-size: 1.17vw;
  padding: 1%;
}

.tactic-cell-bottom-div {
  background-color: gray;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.stroke-me
{
    color: corncrimflowerblue;
    text-shadow:
    -1px -1px 0 rgb(58, 57, 57),
    1px -1px 0 rgb(58, 57, 57),
    -1px 1px 0 rgb(58, 57, 57),
    1px 1px 0 rgb(58, 57, 57);  
}