td {
  text-align: center;
  background-color: beige;
}
.roster-container {
  margin: 0 auto;
}
.bio-field-container {
  display: inline-block;
  width: 50%;
}

.bio-label {
  display: inline-block;
  background-color: #f8422a;
  width: 20%;
  /* height: 40px; */
  padding-right: 2%;
  text-align: right;
  vertical-align: center;
  font-weight: bold;
}

.bio-entry {
  display: inline-block;
  width: 60%;
  /* height: 40px; */
  background-color: gainsboro;
  vertical-align: center;
}
.roster-table {
  width: 100%;
  margin-top: 5pt;
}

.data-card-div {
    border-style: solid;
    width: 50%;
    padding: 1%;
    position: relative;
    float: left;
}

.data-card-table {
  width: 100%;
}

.points-text {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 3%;
}
.table-heading {
    background-color: #f8422a;
}

h2.tactic_label {
  float: left;
  width: 100%;
}
.tactic-cell {
  width : 20%;
  height: 30%;
  background-color: gainsboro;
  margin: 0.5%;
  display: inline-block;
  float: left;
}

.tactic-cell-heading-div {
  text-align: center;
  background-color: #f8422a;
  padding: 1%;
}

.tactic-cell-text-div {
  padding: 3%;

}