{% extends "report/base.html.jinja" %}
{% block content %}
<h3>Player Name: </h3>
<p> Object.PLAYER_NAME</p>

<h3>Kill Team Name: </h3>
<p> Object.KILL_TEAM_NAME</p>

<h3>Faction Name: </h3>
<p> Object.FACTION</p>

<h3>Subfaction Name: </h3>
<p> Object.SUBFACTION</p>


{% endblock %}